spring:
  profiles:
    active: dev
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:mysql://mysql:3306/coursehub?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: coursehub_user
    password: coursehub_pass
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
logging:
  level:
    com.zjsu.syt.course: INFO
    org.hibernate.SQL: DEBUG
server:
  port: 8080
